@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

.section-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.section-header {
  display: grid;
  grid-template-columns: fit-content(8em) 3fr 1fr;
  align-items: center;
  gap: 1rem;
  font-family: var(--codeFont);
  font-size: 0.62rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--gray);
  margin-top: 0.5rem;
}

@media all and ($mobile) {
  .section-header {
    grid-template-columns: fit-content(8em) 1fr;
  }

  .section-header-tags {
    display: none;
  }
}

li.section-li {
  margin-bottom: 1em;
  padding-bottom: 0.85rem;
  border-bottom: 1px solid color-mix(in srgb, var(--lightgray) 70%, transparent 30%);

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  & > .section {
    display: grid;
    grid-template-columns: fit-content(8em) 3fr 1fr;

    @media all and ($mobile) {
      & > .tags {
        display: none;
      }
    }

    & > .desc > h3 > a {
      background-color: transparent;
      font-weight: 600;
      color: var(--dark);
    }

    & .meta {
      margin: 0 1em 0 0;
      opacity: 0.75;
      font-family: var(--codeFont);
      font-size: 0.72rem;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--gray);
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: fit-content(8em) 1fr !important;

  & > .tags {
    display: none;
  }
}

.popover .section-header {
  display: none;
}
