@use "./base.scss";

article {
  line-height: 1.65;
}

article a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

article a.internal {
  text-decoration-style: dotted;
}
